body {background: rgb(184,140,235);
  background: linear-gradient(0deg, rgba(184,140,235,1) 0%, rgba(235,150,210,1) 67%);}
hr{border-color: rgba(211, 95, 130, 0.712);
  border-style:none;
  border-top-style: dotted;
  border-width: 10px;
height: 0px;
 width: 6%;}
img{ height: 300px;}
h1{background-color: #771938f3;
color: rgb(231, 79, 104);
width: 20px;}
