body {background-color: rgba(245, 187, 201, 0.925);}
hr{border-color: rgba(211, 95, 130, 0.712);
  border-style:none;
  border-top-style: dotted;
  border-width: 10px;
height: 0px;
 width: 6%;}
img{ height: 300px;}
h1{background-color: rgba(119, 25, 56, 0.952);
color: rgb(231, 79, 104);
width: 19px;}